body {
    background-color: #cacaca;
    color: #089;
    font-family: cursive
}

/* #app-container {
    margin: auto;
    width: 50%;
    border: 3px solid #089;
    padding: 10px;
}


#title {
    text-align: center;
}

button {
    border: none;
    color: white;
    border-radius: 5px;
    background-color: #008CBA;
}

button:disabled {
    background-color: rgba(239, 239, 239, 0.3) !important
}
 */
